project:
  type: website
  output-dir: docs

website:
  title: "Eda Ozkaya"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: blog.qmd
        text: Blog
      
    

format:
  html:
    theme: journal
    css: custom.css
    toc: true



