/* css styles */
.img {
  width: 400px;
  height: 256px;
}

/* to change the color of content*/
.content {
 color: rgb(192, 231, 224);
 
}

/* to change the color of background*/
body{
background-color: #091630; 
}

/* to change the color of link*/
a {
  color: white;
}

/* to change the color of link when hovering*/
a:hover {
  color: #dbeafe;
  text-decoration: underline;
}

/* to change the color of title*/
h2 {
  color: #edf0f4;
}

/* to change the color of | blog*/
nav#TOC li a,
nav#TOC .nav-link {
  color: white !important;
}

#quarto-margin-sidebar nav#TOC a.nav-link:hover,
#quarto-margin-sidebar nav#TOC li a:hover {
  color: #dbeafe !important;
  text-decoration: underline !important;
}


